@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* colors */
  --cl-primary-light-green: hsl(148, 38%, 91%);
  --cl-primary-green: hsl(169, 82%, 27%);
  --cl-primary-red: hsl(0, 66%, 56%);
  --cl-neutral-white: hsl(0, 0%, 100%);
  --cl-neutral-medium-grey: hsl(186, 15%, 59%);
  --cl-neutral-dark-grey: hsl(187, 24%, 22%);
  --cl-border: hsl(0, 0%, 46%);
}

/* General */
body {
  position: relative;
  min-height: 100vh;
  min-height: 100svh;
  padding-block: 2rem;
  background-color: var(--cl-primary-light-green);
  font-family: 'Karla', sans-serif;
  font-size: 1rem;
  display: grid;
  place-items: center;
}

h1,
p,
label {
  user-select: none;
}

input,
textarea {
  padding: 1em;
  border: 1px solid var(--cl-border);
  border-radius: 5px;
  font-family: inherit;
  font-size: inherit;
  resize: none;
  cursor: pointer;
  transition: border-color 200ms ease-in-out;
  &:hover,
  &:focus-visible {
    border-color: var(--cl-primary-green);
  }
  &:focus {
    outline: none;
  }
}

.error-msg {
  color: var(--cl-primary-red);
  /* display: none; */
}

.wrapper {
  width: min(45rem, 90vw);
  background-color: var(--cl-neutral-white);
  display: flex;
  flex-direction: column;
  padding: 2rem 2rem 0.5rem;
  border-radius: 15px;
  & h1,
  form > * {
    margin-bottom: 1.5rem;
    & .asterisk {
      color: var(--cl-primary-green);
    }
  }
}

.wrapper__names,
.query-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
  @media (width < 41.68em) {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }
}

.name-box,
.wrapper__email,
.wrapper__query,
.wrapper__message,
.wrapper__consent {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  gap: 0.5rem;
}

.query-box {
  & .query-selector {
    display: flex;
    align-items: center;
    gap: 1em;
    padding: 1em;
    border: 1px solid var(--cl-border);
    border-radius: 5px;
    cursor: pointer;
    transition: border-color 200ms ease-in-out;
    &:hover {
      border-color: var(--cl-primary-green);
    }
  }
}

input[type='radio'] {
  width: 20px;
  height: 20px;
  color: var(--cl-border);
  pointer-events: none;
  /* accent-color: hsl(169, 82%, 27%); */
}

input[type='checkbox'] {
  width: 18px;
  height: 18px;
  color: var(--cl-border);
  pointer-events: none;
}

.consent-box {
  display: flex;
  width: fit-content;
  cursor: pointer;
  & p {
    margin-left: 1em;
  }
}

.wrapper__message {
  & textarea {
    height: 5.93rem;
    @media (width < 41.68em) {
      height: 15rem;
    }
  }
}

.wrapper__btn {
  background-color: var(--cl-primary-green);
  width: 100%;
  padding: 1em;
  border: none;
  border-radius: 5px;
  font-family: inherit;
  font-size: inherit;
  color: var(--cl-neutral-white);
  cursor: pointer;
  transition: background-color 200ms ease-in-out;
  &:hover,
  &:focus-visible {
    background-color: hsl(169, 88%, 13%);
  }
}

/*  Modal */
.msg-modal {
  position: fixed;
  inset: 3% 0 0 0;
  width: fit-content;
  max-width: 80vw;
  height: fit-content;
  margin-inline: auto;
  padding: 1.5em;
  border-radius: 10px;
  background-color: var(--cl-neutral-dark-grey);
  color: var(--cl-neutral-white);
  cursor: pointer;
  translate: 0 -150%;
  transition: translate 500ms ease-in-out;
  & .msg-modal__title {
    display: flex;
    gap: 0.8em;
    margin-bottom: 0.8em;
  }
}

/* Utility-Animation */
.hidden {
  display: none;
}

.query-bg {
  background-color: var(--cl-primary-light-green);
}

.slide-down {
  translate: 0 3%;
}

/* Footer */
.attribution {
  width: 100%;
  padding: 0.8em;
  position: absolute;
  bottom: 0;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
