@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* colors */
  --cl-primary-light-green: hsl(148, 38%, 91%);
  --cl-primary-green: hsl(169, 82%, 27%);
  --cl-primary-red: hsl(0, 66%, 56%);
  --cl-neutral-white: hsl(0, 0%, 100%);
  --cl-neutral-medium-grey: hsl(186, 15%, 59%);
  --cl-neutral-dark-grey: hsl(187, 24%, 22%);
  --cl-border: hsl(0, 0%, 46%);
}

/* General */
body {
  position: relative;
  min-height: 100vh;
  min-height: 100svh;
  background-color: var(--cl-primary-light-green);
  font-family: 'Karla', sans-serif;
  font-size: 1rem;
  display: grid;
  place-items: center;
}

input {
  padding: 1em;
  border: 1px solid var(--cl-border);
  border-radius: 5px;
  font-family: inherit;
  font-size: inherit;
}

.error-msg {
  color: var(--cl-primary-red);
}

.wrapper {
  outline: 1px solid red;
  width: min(45rem, 90vw);
  background-color: var(--cl-neutral-white);
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border-radius: 15px;
}

.wrapper__names,
.query-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
  @media (width < 41.68em) {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }
}

.name-box {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.wrapper__email {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.query-box {
  & > * {
    outline: 1px solid red;
    padding: 1em;
    border: 1px solid var(--cl-border);
    border-radius: 5px;
  }
  & span {
    margin-left: 1em;
  }
}

/*  Modal */
.msg-modal {
  position: absolute;
  inset: 1.5rem 0 0 0;
  width: fit-content;
  max-width: 80vw;
  height: fit-content;
  margin-inline: auto;
  padding: 1.5em;
  border-radius: 10px;
  background-color: var(--cl-neutral-dark-grey);
  color: var(--cl-neutral-white);
  & .msg-modal__title {
    display: flex;
    gap: 0.8em;
    margin-bottom: 0.8em;
  }
}

/* Footer */
.attribution {
  width: 100%;
  padding: 1em;
  position: absolute;
  bottom: 0;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
